@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-color: #414141;
  --succes-color: #70c05b;
  --danger-color: #ff6633;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Rubik", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

section {
  padding: 40px 0;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

.d-flex {
  display: flex;
}

.clr {
  clear: both;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-color);
}

.my-5 {
  margin: 20px 0;
}

.bg-success {
  background-color: var(--succes-color) !important;
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
