.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  margin-bottom: 10px !important;
}

.progress-container {
  background-color: rgb(150, 150, 150);
  height: 10px;
  z-index: 9999;
  width: 100%;
}

.progress-bar {
  background-color: #2196f3;
  height: 10px;
  width: 0%;
}

.content {
  padding: 2em;
}
