@import url("../index.css");
@import url("../components/header.css");
@import url("../components/footer.css");
@import url("../components/button.css");
@import url("../components/loader.css");
@import url("../components/scroll.css");

/* Main Section */

#main {
  background: url("../../assits/png\,\ jpg/home-bg.png");
  background-size: cover;
  width: 100% !important;
  height: 200px;
  margin-top: 77px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--dark-color);
}
#main * {
  align-items: center;
}
.home-title {
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

/* Location Section */

.location {
  margin-bottom: 40px !important;
}
@media (max-width: 768px) {
  #main img {
    display: none;
  }
  .home-title {
    font-size: 28px;
  }
  #main .container div {
    align-items: center;
  }
}
